
#btn1{
    padding: 2px 4px 2px 4px;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-right: 5px;
    background-color: #ffffff;
    text-align: center;
    font-size: medium;
    text-decoration-color: #ffffff;
    font-weight: 500;
}

#btn2{
    padding: 2px 4px 2px 4px;
    border-radius: 20px;
    background-color: #000000;
    text-align: center;
    font-size: medium;
    text-decoration-color: #ffffff;
    font-weight: 500;
}
.navbar-nav .nav-link{
    font-weight: 600;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  #para{
      margin-top: 500px;
  }
  .footer{
      clear: both;
      padding: 0;
      background-color: #e3f2fd;
      text-decoration-color: #ffffff;
      padding-top: 5px;
      width: 100%;
  }
  .content{
      font-weight: bold;
      font-style: italic;
      font-size: x-large;
      margin-left:-50px;
      margin-right: 0;
  }